<section class="padding">

  <h1 class="grey-text flex align-center">
    <i class="large material-icons">shopping_cart</i>
    Cart
  </h1>

  <ng-container *ngIf="items$ | async as items">
    <table class="striped" *ngIf="items.length">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{item.title}}</td>
          <td>{{item.description}}</td>
          <td>
            <div class="flex">

              <ng-container *ngIf="(cartSpecific.isDirty(item.productId) | async)">
                <i class="material-icons pointer" (click)="revert(item.productId)">undo</i>
              </ng-container>
              <ng-container *ngIf="item.quantity > 1">
                <i class="material-icons pointer" (click)="subtractProduct(item.productId)">navigate_before</i>
              </ng-container>
              <span> {{item.quantity}}</span>
              <i class="material-icons pointer " (click)="addProduct(item.productId)">navigate_next</i>
            </div>
          </td>
          <th>{{item.total}}$</th>
          <th>
            <button (click)="remove(item)" class="btn waves-effect waves-light red">
              <i class="material-icons">delete_forever</i>
            </button>
          </th>
        </tr>
      </tbody>
    </table>

    <h3 *ngIf="!items.length">Your cart is empty</h3>

    <h4 *ngIf="items.length" class="flex align-center">
      <i class="material-icons medium mr5">credit_card</i>
    <!-- {{cartCollection. | json}} -->

      Total: {{total$ | async}}$
      <ng-container *ngIf="(cartCollection.isDirty$ | async)">
        <i class="material-icons pointer" (click)="revertStore()">undo</i>
      </ng-container>
    </h4>

  </ng-container>

</section>
